@import "tailwindcss";

@theme {
  --breakpoint-2xl: 1320px;
  --default-font-family: Inter;
  --animate-gradient: gradient 8s linear infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));
